/*INICIO NAV*/
.logo {
  width: 25%;
  height: 100%; }

#logo {
  height: 90%;
  width: 80%;
  margin: 5px; }

nav {
  border-radius: 8px;
  width: 75%;
  height: calc(100% - 10px);
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: end; }

/*INICIO MENU*/
#btn-menu {
  display: none; }

nav label {
  display: none; }

.menu {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0; }
  .menu__item {
    padding: 5px;
    list-style: none; }
  .menu__link {
    color: #d1d1d1;
    text-decoration: none; }
  .menu__link:hover {
    color: lightcoral; }
  .menu__item:hover .submenu {
    display: block; }
  .menu--vertical {
    flex-direction: column; }

.submenu {
  background-color: #7999B7;
  position: absolute;
  width: auto;
  display: none;
  padding: 0;
  margin: 0; }
  .submenu__item {
    display: block;
    padding: 10px;
    list-style: none; }
  .submenu__link {
    color: #d1d1d1;
    text-decoration: none; }
  .submenu__link:hover {
    color: lightcoral; }

/*FIN MENU*/
/*FIN NAV*/
#gridHome {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: calc(40% - 5px) calc(40% - 5px) 20%;
  grid-template-rows: 60px 300px 400px 400px 400px 150px;
  grid-template-areas: "header header header" "aside aside aside" "textoUno textoUno textoUno" "textoDos textoDos textoDos" "textoTres textoTres textoTres" "footer footer footer"; }

/*INICIO HEADER*/
header {
  background-color: #7999B7;
  height: 60px;
  border-radius: 8px;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.logo {
  width: 20%;
  height: 100%; }

#logo {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px; }

nav {
  border-radius: 8px;
  width: 75%;
  height: calc(100% - 10px);
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

/*INICIO MENU*/
#btn-menu {
  display: none; }

nav label {
  display: none; }

.menu {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0; }
  .menu__item {
    padding: 5px;
    list-style: none; }
  .menu__link {
    color: #d1d1d1;
    text-decoration: none; }
  .menu__link:hover {
    color: lightcoral; }
  .menu__item:hover .submenu {
    display: block; }
  .menu--vertical {
    flex-direction: column; }

.submenu {
  background-color: #7999B7;
  position: absolute;
  width: auto;
  display: none;
  padding: 0;
  margin: 0; }
  .submenu__item {
    display: block;
    padding: 10px;
    list-style: none; }
  .submenu__link {
    color: #d1d1d1;
    text-decoration: none; }
  .submenu__link:hover {
    color: lightcoral; }

/*FIN MENU*/
/*FIN HEADER*/
/*INICIO PORTADA*/
.portada {
  grid-area: aside;
  background-image: url(../img/purma.jpg);
  border-radius: 8px;
  background-size: 100% 120%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .portada__titulo {
    background-color: rgba(173, 216, 230, 0.6);
    color: white;
    font-style: italic; }
  .portada__texto {
    background-color: rgba(173, 216, 230, 0.6);
    font-style: italic;
    font-size: 20px;
    color: #fff;
    padding: auto;
    text-align: center; }

/*FIN PORTADA*/
#homeJujuy {
  grid-area: textoUno; }

#homeRegiones {
  grid-area: textoDos; }

#homeComidas {
  grid-area: textoTres; }

.articulo {
  background-color: white;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  border-radius: 10px;
  height: 100%;
  width: 100%; }
  .articulo__texto {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    padding: 10px;
    height: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .articulo__galeria {
    height: calc(50% - 20px);
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px; }
  .articulo__imagen {
    height: 100%;
    width: 100%;
    border: 2px solid #9e9e9e;
    border-radius: 10px;
    object-fit: cover; }

.footer {
  background-image: linear-gradient(to right, #333333, #969595);
  grid-area: footer;
  height: auto;
  background: #363536;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: cornsilk;
  font-style: italic;
  font-size: 14px;
  border: 1px solid black; }
  .footer__menu {
    color: cornsilk; }
  .footer__firma {
    font-size: 20px; }
  .footer__redes {
    font-size: 14px; }

/*INICIO DESTINOS*/
.gridDestinos {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.places, .evento {
  background-color: #fdf7f4;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  border-radius: 10px;
  height: 400px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  margin: 10px; }
  .places__descripcion {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .places__titulo {
    font-style: italic; }
  .places__texto {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #040404;
    padding: 10px;
    height: auto; }
  .places__galeria {
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px; }
  .places__imagen {
    height: 100%;
    width: 100%; }
  .places__img {
    height: 100%;
    width: 100%;
    border: 2px solid #9e9e9e;
    border-radius: 10px;
    object-fit: cover; }

/*FIN DESTINOS*/
/*INICIO EVENTOS*/
.gridEventos {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.evento {
  padding: 15px; }
  .evento__descripcion {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .evento__titulo {
    font-style: italic; }
  .evento__texto {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    padding: 10px;
    height: auto; }

/*FIN EVENTOS*/
.gridGaleria {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/*INICIO CONTACTO*/
.gridContacto {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.contacto {
  background-image: url(../img/contacto.jpg);
  background-size: 100% 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 600px;
  color: #fdf7f4;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contacto__formulario {
    width: 350px;
    margin: auto;
    margin-top: 25px;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    box-sizing: border-box; }
  .contacto__input {
    width: 100%; }
  .contacto textarea {
    width: 100%; }

@media only screen and (max-width: 768px) {
  nav label {
    display: block;
    padding: 10px 5px; }
  #btn-menu:checked ~ .menu {
    display: flex; }
  .menu {
    position: absolute;
    width: 200px;
    display: none;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 55px;
    padding: 5px 0;
    background-color: #7999B7;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transition: all 0.5s; }
    .menu__item:hover .submenu {
      display: none; } }
